.expense-card {
    margin: 2px;
    padding: 2px;
    border: 1px solid mediumvioletred;
    border-radius: 10px;
}

.expense-list-title {
    color: mediumvioletred;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: 500;
    padding-bottom: 5px;
}

.full-width {
    width: 100%;
}

.empty {
    text-align: center;
    padding: 16px;
    opacity: 0.7;
}

@media (max-width: 700px) {
    .expense-card {
        margin-top:5%;
    }
}