 .spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  padding-top: calc(80px + env(safe-area-inset-top));
}

.reports {
    margin-top: 11px;
    padding: 5px;
}

.summary {
  display: flex;
  gap: 12px;
  margin-bottom: 12px;

  mat-card {
    flex: 1;
    text-align: center;
    padding: 12px;
    background-color: #ff6b6b;
    color: white;
    font-weight: bold;
  }
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 12px;
  justify-content: center;
}

.orders {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 6px;
    border-bottom: 1px solid #ddd;
  }
}

.filters button {
  transition: all 0.2s ease;
}

.filters button.active {
  background-color: #ff6b6b !important;
  color: #fff !important;
  font-weight: 600;
}

.filters button.active:hover {
  background-color: #ff6b6b !important;
}
