<div class="app-container">

  <!-- Main content that changes with routing -->
  <div class="route-container">
    <router-outlet></router-outlet>
  </div>

  <footer *ngIf="!isAdminPage" class="footer">
    <button *ngIf="!isInvoicePage && !isAdminPage && !isEditInvoicePage" class="nextBtn" matButton="filled" [disabled]="disableBtn" (click)="goToInvoice()">
      <span class="badge" *ngIf="cartCount > 0">
        {{ cartCount }}
      </span>
      View Order
    </button>
    
    <button *ngIf="isInvoicePage" class="saveBtn" matButton="filled" (click)="showDialog()">
      <span class="badge" *ngIf="cartCount > 0">
        {{ cartCount }}
      </span>
      Save Order
    </button>

    <button *ngIf="isEditInvoicePage" class="saveBtn" matButton="filled" (click)="updateInvoiceV1()">
      Update Order
    </button>
  </footer>

</div>