// .route-container {
//     margin: 2%;
// }

/* Makes the whole page use full height */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Router content should take all remaining space */
.route-container {
  flex: 1;
  overflow-y: auto;
  /* allows scrolling for page content */
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  padding-bottom: env(safe-area-inset-bottom);
  background: #fff;
  max-height: 90px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 8px 6px;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.12);
  z-index: 1000;

  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.footer-visible {
  transform: translateY(0);
}

.actionBtn {
  position: relative;
  padding: 31px 31px;
  font-size: 25px;
  background: linear-gradient(45deg, #fa6767, #b35525) !important;
  min-width: 180px;
}

/* Button container */
.footer-actions {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

/* Footer text */
.footer-text {
  font-size: 15px;
  font-weight: 500;
  color: mediumvioletred;
  text-align: center;
  padding-bottom: 6px;
}

/* Badge (circle count) */
.badge {
  position: absolute;
  top: -35px;
  right: 44px;

  background: red;
  color: white;
  font-size: 20px;
  font-weight: 600;

  width: 30px;
  height: 30px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}