.container {
    height: 100dvh;
}

.sidenav {
    width: 280px;
    background: white;
    color: white;
}

.profile {
    padding: 24px 16px;
    text-align: center;
    background: #ff6b6b;
}

.profile img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-bottom: 8px;
}

.profile h3 {
    margin: 4px 0 0;
    font-weight: 600;
}

.profile p {
    margin: 0;
    font-size: 13px;
    opacity: 0.85;
}

.menu-item {
    display: flex;
    align-items: center;
    gap: 14px;
}

.menu-item:hover {
    background: rgba(255, 255, 255, 0.1);
    color: white;
}

.menu-item mat-icon {
    font-size: 22px;
    height: 18px;
    width: 22px;
    line-height: 22px;
    color: mediumvioletred;
    margin-right: 12px;
}

.menu-text {
    font-size: 18px;
    line-height: 22px;
    color: mediumvioletred;
    font-weight: 500;
}

.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    box-sizing: border-box;
    padding-top: env(safe-area-inset-top);
    height: calc(56px + env(safe-area-inset-top));

    z-index: 1000;
    display: flex;
    align-items: center;

    color: white;
    background: #ff6b6b;

    mat-icon {
        color: white;
    }

    span {
        color: white;
        font-size: 30px;
        font-weight: 500;
    }
}

.toolbar-right-section {
    margin-left: 40%;
}

/* Make content vertical */
.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 16px;

    /* push content below toolbar + status bar */
    padding-top: calc(56px + env(safe-area-inset-top));
}

@media (max-width: 700px) {
    .sidenav {
        width: 200px;
    }

    // .content {
    //     //padding-top:45px;
    //     padding-top: calc(56px + env(safe-area-inset-top));
    // }

    .toolbar-right-section {
        margin-left: 22%;
    }
}