.momos-header {
  position: fixed;
  //top: 0;
  left: 0;
  width: 100%;  
  height: 70px;
  z-index: 1000;

  display: flex;
  align-items: center;
  gap: 11%;
  color: white;
  background: linear-gradient(45deg, #ff6b6b, #ff8e53);
}

.back-icon {
  color: white;
  font-weight: bold;
  border: 4px solid white;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 5%;
}

.product-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  width: 120px;
  padding: 12px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 2px solid mediumvioletred;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* Push footer to bottom */
  height: 180px;
  /* Adjust as needed */
}

.addBtn,
.qty-box {
  margin-top: auto;
  /* Stick to bottom */
}

.add-btn {
  background: linear-gradient(45deg, #ff6b6b, #ff8e53);
  ;
  border: 1px solid mediumvioletred;
  color: white;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.qty-box {
  display: flex;
  align-items: center;
  border: 1px solid mediumvioletred;
  border-radius: 8px;
  width: 70px;
  justify-content: space-between;
  margin-left: 20%;
}

.qty-box .minus,
.qty-box .plus {
  background: linear-gradient(45deg, #ff6b6b, #ff8e53);
  color: white;
  border: none;
  padding: 3px 6px;
  border-radius: 6px;
  cursor: pointer;
}

.qty {
  font-weight: 600;
  width: 20px;
  text-align: center;
}
