
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-expansion-panel-body {
    padding: 0px 11px 7px !important;
}

// body.native-app .app-container {
//   padding-top: 30px;
// }

.mat-mdc-paginator-container {
    padding-top: 5px !important;
  }

/* FORCE DIALOG WIDTH */
.expense-filter-dialog .mat-mdc-dialog-surface {
  min-width: 360px;
  border-radius: 16px;
}

.expense-filter-dialog .dialog-title {
  font-size: 31px;
  font-weight: 500;
  color: mediumvioletred;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTENT MUST STRETCH */
.expense-filter-dialog .mat-mdc-dialog-content {
  display: block !important;
  padding: 16px !important;
}

/* FORM MUST STRETCH */
.expense-filter-dialog .filters {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* INPUTS FULL WIDTH */
.expense-filter-dialog mat-form-field {
  width: 100%;
}

/* QUICK FILTERS */
.expense-filter-dialog .quick-filters {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.expense-filter-dialog .quick-filters button {
  flex: 1;
  border-radius: 18px;
}

/* ACTIONS */
.expense-filter-dialog .dialog-actions {
  display: flex;
  padding: 12px 16px 16px;
}

.header-dropdown .mat-mdc-text-field-wrapper {
  background: white;
  border-radius: 5px;
  margin-top: 20px;
}

.header-dropdown .mat-mdc-form-field-infix {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  min-height: unset !important;
}

.header-dropdown .mat-mdc-select-value-text {
  font-size: 20px !important;
  font-weight: 500;
}

.header-dropdown .mat-mdc-select-arrow {
  transform: scale(1.5);
}

.header-dropdown .mdc-notched-outline__leading,
.header-dropdown .mdc-notched-outline__notch,
.header-dropdown .mdc-notched-outline__trailing {
  border-color: #ffffff !important;
}

.header-select-panel {
  background-color: #ffffff !important;
}

.header-select-panel .mat-mdc-option {
  color: mediumvioletred !important;
  font-weight: 500 !important;
}

.header-select-panel .mat-mdc-option:hover {
  background-color: #ff6b6b !important;
  color: white !important;
}

.header-select-panel .mdc-list-item--selected {
  background-color: #ff6b6b !important;
}

.header-select-panel .mdc-list-item--selected .mdc-list-item__primary-text {
  color: #ffffff !important;
  font-weight: 500;
}

.header-select-panel .mat-pseudo-checkbox-checked {
  background-color: transparent  !important;
  color: #ffffff !important;
}

/* Force tick color */
.header-select-panel
.mat-pseudo-checkbox-checked::after {
  border-color: #ffffff !important;
}








