.order-details-header {
    display: flex;
    align-items: center;
    gap: 11%;
    color: white;
    background: linear-gradient(45deg, #ff6b6b, #ff8e53);
    border-radius: 11px;
    margin-top: 2%;
}

.back-icon {
    color: white;
    font-weight: bold;
    border: 4px solid white;
    border-radius: 12px;
    cursor: pointer;
    margin-left: 5%;
}

.bill-details {
    border: 0.5px solid gray;
    margin-bottom: 1%;
}

.invoice {
    margin-bottom: 5px;
}

.mat-expansion-panel-header-description {
    flex-grow: 0.25 !important;
}

.order-details-body {
    border: 2px solid mediumvioletred;
    border-radius: 5px;
}

.order-details-body-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items {
 color: mediumvioletred;   
}

.editIcon {
    // cursor: pointer;
    // height: 20px;
    // width: 32px;
    // margin-top: 4px;
    cursor: pointer;
    color: mediumvioletred;
    height: 20px;
    border: 2px solid mediumvioletred;
    border-radius: 5px;
    padding: 7px;
    margin-left: 11px;
}

.no-orders {
    text-align: center;
    padding: 16px;
    opacity: 0.7;
}